{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="boxicons/css/boxicons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css">
    <title>Document</title>
</head>
<body>
    <button onclick="window.location.href = 'index.html';">Home</button>
    <button onclick="window.location.href = 'contact.html';">Contact</button>
    <button onclick="window.location.href = 'contact.html';">Profile Info</button><br><br>

    <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
</body>
</html>