*{
    font-family: 'poppins', sans-serif;
}

body{
    background-image: url(/static/images/back-2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    
}

.container{
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    background-color: rgba(62, 231, 243, 0.5);
    opacity: 1; /* 50% opacity (transparency) */
    justify-content: center;
    
}

span{
    color: #fff;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

header{
    color: #ffffff;
    font-size: 30 px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

label{
    color: #dee3e4;
}

.input-field{
    display: flex;
    flex-direction: column;
}
.input{
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #ffffff;
    padding: 0 0 0 42px;
    background: rgba(255, 255, 255, 0.1);
}

i{
    position: relative;
    top: -31px;
    left: 17px;
    color: #ffffff;
}

::-webkit-input-placeholder{
    color: #000000;
}

.submit{
    border: none;
    border-radius: 30px;
    font-size: 16px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(24, 248, 248, 0.7);
    cursor: pointer;
    transition: .3s;
    color: rgb(255, 255, 255);
    

}

.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: #fff;
    margin-top: 10px;
}

.left{
    display: flex;
}

label a{
    color: #fff;
    text-decoration: none;

}


