<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="{% url 'userinfo'%}" method="POST">
        {% csrf_token %}
        <label for="">User Name</label>
        <input type="text" name="username" placeholder="Enter User Name">

        <label for="">Email</label>
        <input type="text" name="email" placeholder="Enter Email Here">
        
        <label for="">Password</label>
        <input type="text" name="password" placeholder="Enter Password">
        
        <input type="submit" name="submit" value="Submit">

    </form>
    
</body>
</html>